.navbar {
  background-color: transparent;
  transition: background-color 0.3 ease;
}

.navbar-brand {
  font-size: 2.5rem;
}

.nav-item {
  font-size: 2rem;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #007bff !important; 
}
